@charset "UTF-8";
@font-face {
  font-family: "Existence";
  src: url("../fonts/existence/ExiL/Existence-Light.eot");
  src: url("../fonts/existence/ExiL/Existence-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/existence/ExiL/Existence-Light.woff") format("woff"), url("../fonts/existence/ExiL/Existence-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica CE Bold.eot");
  src: url("../fonts/Helvetica/Helvetica CE Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/Helvetica CE Bold.woff") format("woff"), url("../fonts/Helvetica/Helvetica CE Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.heading__text {
  font: 300 3em/35px "Lato", Arial, sans-serif;
  color: #fff;
  letter-spacing: 1px; }

.title {
  font: 300 3em/36px "Exisntence", Arial, sans-serif;
  color: #333; }

.visible {
  visibility: visible; }

.hidden {
  visibility: hidden; }

.hexahedron {
  width: 160px;
  height: 105px;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  position: relative; }
  .hexahedron:hover, .hexahedron:hover .hexahedron-rot {
    border-color: #9f449b;
    background-color: #9f449b; }
  .hexahedron:hover .hexahedron-rot_r:after, .hexahedron:hover .hexahedron-rot_r:before, .hexahedron:hover .hexahedron-rot_l:after, .hexahedron:hover .hexahedron-rot_l:before {
    background-color: transparent; }
  .hexahedron-rot {
    width: 100%;
    height: 100%;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    position: absolute;
    top: 0;
    left: 0; }
    .hexahedron-rot_br-r {
      -webkit-border-radius: 16px 28px 19px 27px;
              border-radius: 16px 28px 19px 27px; }
    .hexahedron-rot_br-l {
      -webkit-border-radius: 29px 19px 26px 19px;
              border-radius: 29px 19px 26px 19px; }
  .hexahedron-rot_l {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
    overflow: hidden; }
    .hexahedron-rot_l:after, .hexahedron-rot_l:before {
      display: block;
      content: "";
      width: 100px;
      height: 85px;
      background-color: rgba(255, 255, 255, 0.2);
      -webkit-transform: rotate(-60deg);
          -ms-transform: rotate(-60deg);
              transform: rotate(-60deg);
      position: absolute; }
    .hexahedron-rot_l:before {
      top: 6px;
      left: -85px; }
    .hexahedron-rot_l:after {
      bottom: 6px;
      right: -85px; }
  .hexahedron-rot_r {
    -webkit-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
            transform: rotate(-60deg);
    overflow: hidden; }
    .hexahedron-rot_r:after, .hexahedron-rot_r:before {
      display: block;
      content: "";
      width: 100px;
      height: 85px;
      background-color: rgba(255, 255, 255, 0.2);
      -webkit-transform: rotate(60deg);
          -ms-transform: rotate(60deg);
              transform: rotate(60deg);
      position: absolute; }
    .hexahedron-rot_r:before {
      top: 14px;
      left: -85px; }
    .hexahedron-rot_r:after {
      bottom: 14px;
      right: -85px; }

.fadeIn_05s {
  -webkit-animation-delay: .5s;
          animation-delay: .5s; }

.fadeIn_1s {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.fadeIn_1-5s {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }

.fadeIn_2s {
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.fadeIn_2-5s {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*****************************
  All The Base style
******************************/
/* Reset *********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

ul, ol {
  list-style: none;
  font-size: 0;
  line-height: 0; }

fieldset,
img {
  border: none; }

caption,
th {
  text-align: left; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="buttom"],
input[type="submin"],
input[type="reset"],
button {
  cursor: pointer;
  line-height: normal; }

button,
input {
  line-height: normal; }

input[type="hidden"],
[hidden],
.hidden {
  display: none; }

textarea {
  overflow: auto;
  resize: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary, .clearfix {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

a > img {
  vertical-align: bottom; }

strong,
b {
  font-weight: bold; }

em,
i {
  font-style: italic; }

del {
  text-decoration: line-through; }

:focus {
  outline: none; }

/* Base **********************/
html {
  width: 100%;
  height: 100%;
  background: #fff; }

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -webkit-bsckface-visibility: hidden;
  background: #fff; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative; }

.row {
  *zoom: 1; }
  .row:after {
    content: " ";
    display: table;
    clear: both; }

[class*="col-"] {
  padding: 0; }

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear; }

h1, h2, h3, h4, h5, h6 {
  color: #324d5b; }

h1, h2, h3 {
  font-size: 30px;
  line-height: 40px; }

img {
  max-width: 100%;
  height: auto; }

.logo__link {
  display: block;
  width: 42%;
  margin: 0 auto; }
  .logo__link:hover {
    text-decoration: none; }

.logo_nav-mods {
  margin-left: 10px;
  float: left; }

.logo__link-nav-mods {
  width: 15%;
  margin: 0; }

.nav {
  padding: 55px 0 45px 0; }

.navbar {
  margin-right: 20px;
  float: right;
  text-align: justify; }
  .navbar:after {
    /*эмуляция второй строчки, чтобы можно было 
    выравнять текст по значению justify*/
    content: "";
    display: inline-block;
    width: 100%;
    height: 0; }
  .navbar__item {
    display: inline-block;
    margin-left: 30px; }
    .navbar__item:first-child {
      margin-left: 0; }
  .navbar__link {
    font: 400 18px/44px "Lato", Arial, sans-serif;
    color: #676767;
    text-transform: uppercase; }
    .navbar__link:hover {
      color: #9f449b;
      text-decoration: none; }

.closebtn {
  width: 60px;
  height: 60px;
  padding: 19px;
  font-size: 35px;
  color: #000;
  display: block;
  position: absolute;
  top: 0;
  right: 0; }
  .closebtn:hover {
    text-decoration: none; }

.nav-closebtn {
  display: none; }

.social {
  *zoom: 1; }
  .social:after {
    content: " ";
    display: table;
    clear: both; }

.social__list {
  float: right; }

.social__item {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  display: inline-block; }
  .social__item:last-child {
    margin-right: 0; }

.social__link {
  width: 32px;
  height: 32px;
  padding: 7px 6px 6px;
  display: block;
  background: #2c3b42;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative; }
  .social__link:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 0;
    top: 0; }
  .social__link:hover:after {
    width: 0;
    height: 0; }
  .social__link-fb {
    padding: 8px 6px 6px 10px;
    background-color: #415da6; }
  .social__link-vk {
    background-color: #6084a8; }
  .social__link-gl {
    background-color: #db4d3f; }

.fa {
  font-size: 16px;
  color: #fff; }

.header {
  position: relative; }
  .header__bg {
    min-width: 100%;
    height: 100%; }
  .header-wrap {
    width: 100%;
    padding-top: 110px;
    position: absolute;
    top: 0;
    left: 0; }

.pcture-wrap {
  width: 100%;
  height: 1100px; }

.heading {
  margin-top: 75px; }
  .heading-wrap, .heading-sub-wrap {
    text-align: center; }
  .heading-sub-wrap {
    margin-top: 30px;
    letter-spacing: .4px; }
  .heading-sub__text {
    font: 300 1.5em/30px "Lato", Arial, sans-serif;
    color: #fff; }

.scroll {
  width: 100%;
  height: 145px;
  position: relative; }
  .scroll-wrap {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2) url(../img/arrow.png) no-repeat center center; }
    .scroll-wrap:hover, .scroll-wrap:hover .hexahedron-rot {
      border-color: #9f449b;
      background-color: transparent; }
  .scroll__link {
    display: block;
    width: 100%;
    height: 100%; }

.hexahedron_scroll-mods {
  width: 85px;
  height: 50px;
  -webkit-border-radius: 13px;
          border-radius: 13px; }

.hexahedron-rot_scroll-mods_br-r {
  -webkit-border-radius: 5px 10px 5px 10px;
          border-radius: 5px 10px 5px 10px; }
  .hexahedron-rot_scroll-mods_br-r:before {
    top: -27px;
    left: -99px; }
  .hexahedron-rot_scroll-mods_br-r:after {
    bottom: -27px;
    right: -99px; }

.hexahedron-rot_scroll-mods_br-l {
  -webkit-border-radius: 10px 5px 10px 5px;
          border-radius: 10px 5px 10px 5px; }
  .hexahedron-rot_scroll-mods_br-l:before {
    top: -8px;
    left: -99px; }
  .hexahedron-rot_scroll-mods_br-l:after {
    bottom: -8px;
    right: -99px; }

.menu {
  margin-top: 155px;
  padding: 0 18px;
  *zoom: 1; }
  .menu:after {
    content: " ";
    display: table;
    clear: both; }
  .menu-part {
    float: left;
    margin-right: 37px; }
    .menu-part:last-child {
      margin-right: 0; }
    .menu-part_bottom {
      margin-top: 200px; }
  .menu__item {
    margin-right: 30px; }
    .menu__item:last-child {
      margin-right: 0; }
  .menu__link {
    width: 100%;
    height: 100%;
    font: 400 1.125em/30px "Lato", Arial, sans-serif;
    display: inline-block;
    -webkit-border-radius: 30px;
            border-radius: 30px; }
    .menu__link:hover {
      text-decoration: underline; }
  .menu__img-wrap {
    position: absolute;
    left: 47px;
    top: 11px; }
    .menu__img-wrap_about {
      background-image: url(../img/icon/sprites/sprite.png);
      background-position: 0px -290px;
      width: 57px;
      height: 57px; }
    .menu__img-wrap_portfolio {
      background-image: url(../img/icon/sprites/sprite.png);
      background-position: 0px -97px;
      width: 50px;
      height: 53px; }
    .menu__img-wrap_contact {
      background-image: url(../img/icon/sprites/sprite.png);
      background-position: 0px -425px;
      width: 58px;
      height: 58px; }
  .menu__text {
    width: 100%;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0; }

.user__menu {
  height: 50px;
  width: 100px; }
  .user__menu__item {
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-ttransition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .user__menu__item:nth-child(1), .user__menu__item:nth-child(2) {
      border-left: 1px solid #ebedee; }
    .user__menu__item_colored {
      background-color: #9f449b; }
      .user__menu__item_colored:hover {
        background-color: #922000; }
    .user__menu__item:after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: #9f449b;
      position: absolute;
      bottom: -1px;
      left: 0;
      display: none; }
    .user__menu__item:hover:after {
      display: block; }
  .user__menu__link {
    font-weight: 700;
    display: block;
    color: #000;
    font-size: 110px; }
    .user__menu__link-icon {
      width: 23px;
      position: absolute;
      left: 18px;
      top: -4px;
      bottom: 0; }
      .user__menu__link-icon-pic {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: block;
        max-width: 100%;
        max-height: 100%; }
    .user__menu__link_colored {
      color: #fff;
      position: relative; }
      .user__menu__link_colored:hover {
        color: #fff; }
    .user__menu__link:hover {
      text-decoration: none; }

.user-count {
  color: #ebe26a; }

.breadcrumbs {
  padding: 25px 0; }
  .breadcrumbs__item {
    margin-left: 10px;
    display: inline-block; }
    .breadcrumbs__item:first-child {
      margin-left: 0; }
      .breadcrumbs__item:first-child .breadcrumbs__link:before {
        display: none; }
  .breadcrumbs__link {
    font: 400 13px/13px "Lato", Arial, sans-serif;
    color: #333; }
    .breadcrumbs__link:before {
      display: inline-block;
      content: ">";
      width: 9px;
      height: 9px;
      margin-right: 10px; }
    .breadcrumbs__link:hover {
      color: #333; }

.offers {
  padding: 200px 0 225px 0;
  background-color: #eeeeee; }
  .offers__link {
    display: block;
    position: relative; }
    .offers__link:hover {
      text-decoration: none; }
  .offers__item__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    .offers__item__img-heart {
      background-image: url(../img/icon/sprites/sprite.png);
      background-position: 0px -636px;
      width: 83px;
      height: 63px; }
    .offers__item__img-diamond {
      background-image: url(../img/icon/sprites/sprite.png);
      background-position: 0px -636px;
      width: 83px;
      height: 63px; }
    .offers__item__img-cup {
      background-image: url(../img/icon/sprites/sprite.png);
      background-position: 0px -493px;
      width: 54px;
      height: 61px; }
    .offers__item__img-phone {
      background-image: url(../img/icon/sprites/sprite.png);
      background-position: 0px -709px;
      width: 44px;
      height: 63px; }
  .offers__item:hover .offers__item__img {
    background-image: url(../img/icon/sprites/sprite.png);
    background-position: 0px -564px;
    width: 71px;
    height: 62px; }
  .offers__item-content {
    *zoom: 1;
    margin-top: 80px; }
    .offers__item-content:after {
      content: " ";
      display: table;
      clear: both; }
  .offers__item:hover .hexahedron_offers-mods,
  .offers__item:hover .hexahedron-rot,
  .offers__item:hover .offers__title,
  .offers__item:hover .offers__text {
    color: #9f449b;
    border-color: #9f449b;
    background-color: transparent; }
  .offers__title-wrap {
    margin-bottom: 35px; }
  .offers__title {
    font: 400 1.6em/30px "Lato", Arial, sans-serif;
    color: #676767;
    text-align: center; }
  .offers__text {
    font: 300 1em/30px "Lato", Arial, sans-serif;
    color: #676767;
    text-align: center; }

.hexahedron_offers-mods {
  margin-left: 65px;
  background: transparent;
  border-left: 4px solid #ccd0d2;
  border-right: 4px solid #ccd0d2; }

.hexahedron-rot_offers-mods {
  border-left: 4px solid #ccd0d2;
  border-right: 4px solid #ccd0d2; }
  .hexahedron-rot_offers-mods:before, .hexahedron-rot_offers-mods:after {
    display: none; }

.footer {
  height: 580px;
  margin-top: -580px;
  position: relative; }
  .footer-empty {
    height: 580px; }
