.float-left {float: left;}

.float-right {float: right;}

.heading__text {
  font: 300 3.000em/35px $ffL;
  color: #fff;
}

.title {
  font: 300 3.000em/36px $ffE;
  color: #333;
}

.visible {visibility: visible;}

.hidden {visibility: hidden;}

.hexahedron {
    width: 160px;
    height: 105px;
    margin-right: 30px;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    border-radius: 25px;
    background-color: fade-out(#fff, .8);
    display: inline-block;
    position: relative;

    &:hover, &:hover &-rot {
      border-color: $purple;
      background-color: $purple;
    }

    &:hover &-rot_r:after, &:hover &-rot_r:before, &:hover &-rot_l:after, &:hover &-rot_l:before,{
      background-color: transparent;
    }

    &-rot {
      width: 100%;
      height: 100%;
      border-left: 4px solid #fff;
      border-right: 4px solid #fff;
      position: absolute;
      top: 0;
      left: 0;

      &_br-r {
        border-radius: 16px 28px 19px 27px;
      }

      &_br-l {
        border-radius: 29px 19px 26px 19px;
      }
    }

    &-rot_l {
      transform: rotate(60deg);
      overflow: hidden;

      &:after, &:before {
        display: block;
        content: "";
        width: 100px;
        height: 85px;
        background-color: fade-out(#fff, .8);
        transform: rotate(-60deg);
        position: absolute;
      }

      &:before {
        top: 6px;
        left: -85px;
      }

      &:after {
        bottom: 6px;
        right: -85px;
      }
    }

    &-rot_r {
      transform: rotate(-60deg);
      overflow: hidden;

      &:after, &:before {
        display: block;
        content: "";
        width: 100px;
        height: 85px;
        background-color: fade-out(#fff, .8);
        transform: rotate(60deg);
        position: absolute;
      }

      &:before {
        top: 14px;
        left: -85px;
      }

      &:after {
        bottom: 14px;
        right: -85px;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }


.fadeIn_05s {animation-delay: .5s;}

.fadeIn_1s {animation-delay: 1s;}

.fadeIn_1-5s {animation-delay: 1.5s;}

.fadeIn_2s {animation-delay: 2s;}

.fadeIn_2-5s {animation-delay: 2.5s;}

