/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$about-name: 'about';
$about-x: 0px;
$about-y: 287px;
$about-offset-x: 0px;
$about-offset-y: -287px;
$about-width: 57px;
$about-height: 57px;
$about-total-width: 61px;
$about-total-height: 470px;
$about-image: 'sprite.png';
$about: (0px, 287px, 0px, -287px, 57px, 57px, 61px, 470px, 'sprite.png', 'about', );
$blog-name: 'blog';
$blog-x: 0px;
$blog-y: 349px;
$blog-offset-x: 0px;
$blog-offset-y: -349px;
$blog-width: 58px;
$blog-height: 58px;
$blog-total-width: 61px;
$blog-total-height: 470px;
$blog-image: 'sprite.png';
$blog: (0px, 349px, 0px, -349px, 58px, 58px, 61px, 470px, 'sprite.png', 'blog', );
$contact-name: 'contact';
$contact-x: 0px;
$contact-y: 412px;
$contact-offset-x: 0px;
$contact-offset-y: -412px;
$contact-width: 58px;
$contact-height: 58px;
$contact-total-width: 61px;
$contact-total-height: 470px;
$contact-image: 'sprite.png';
$contact: (0px, 412px, 0px, -412px, 58px, 58px, 61px, 470px, 'sprite.png', 'contact', );
$mail-name: 'mail';
$mail-x: 0px;
$mail-y: 0px;
$mail-offset-x: 0px;
$mail-offset-y: 0px;
$mail-width: 26px;
$mail-height: 21px;
$mail-total-width: 61px;
$mail-total-height: 470px;
$mail-image: 'sprite.png';
$mail: (0px, 0px, 0px, 0px, 26px, 21px, 61px, 470px, 'sprite.png', 'mail', );
$map-name: 'map';
$map-x: 0px;
$map-y: 53px;
$map-offset-x: 0px;
$map-offset-y: -53px;
$map-width: 20px;
$map-height: 23px;
$map-total-width: 61px;
$map-total-height: 470px;
$map-image: 'sprite.png';
$map: (0px, 53px, 0px, -53px, 20px, 23px, 61px, 470px, 'sprite.png', 'map', );
$phone-name: 'phone';
$phone-x: 0px;
$phone-y: 26px;
$phone-offset-x: 0px;
$phone-offset-y: -26px;
$phone-width: 23px;
$phone-height: 22px;
$phone-total-width: 61px;
$phone-total-height: 470px;
$phone-image: 'sprite.png';
$phone: (0px, 26px, 0px, -26px, 23px, 22px, 61px, 470px, 'sprite.png', 'phone', );
$portfolio-name: 'portfolio';
$portfolio-x: 0px;
$portfolio-y: 109px;
$portfolio-offset-x: 0px;
$portfolio-offset-y: -109px;
$portfolio-width: 50px;
$portfolio-height: 53px;
$portfolio-total-width: 61px;
$portfolio-total-height: 470px;
$portfolio-image: 'sprite.png';
$portfolio: (0px, 109px, 0px, -109px, 50px, 53px, 61px, 470px, 'sprite.png', 'portfolio', );
$services-name: 'services';
$services-x: 0px;
$services-y: 167px;
$services-offset-x: 0px;
$services-offset-y: -167px;
$services-width: 61px;
$services-height: 54px;
$services-total-width: 61px;
$services-total-height: 470px;
$services-image: 'sprite.png';
$services: (0px, 167px, 0px, -167px, 61px, 54px, 61px, 470px, 'sprite.png', 'services', );
$team-name: 'team';
$team-x: 0px;
$team-y: 226px;
$team-offset-x: 0px;
$team-offset-y: -226px;
$team-width: 56px;
$team-height: 56px;
$team-total-width: 61px;
$team-total-height: 470px;
$team-image: 'sprite.png';
$team: (0px, 226px, 0px, -226px, 56px, 56px, 61px, 470px, 'sprite.png', 'team', );
$tweets-name: 'tweets';
$tweets-x: 0px;
$tweets-y: 81px;
$tweets-offset-x: 0px;
$tweets-offset-y: -81px;
$tweets-width: 22px;
$tweets-height: 23px;
$tweets-total-width: 61px;
$tweets-total-height: 470px;
$tweets-image: 'sprite.png';
$tweets: (0px, 81px, 0px, -81px, 22px, 23px, 61px, 470px, 'sprite.png', 'tweets', );
$spritesheet-width: 61px;
$spritesheet-height: 470px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($about, $blog, $contact, $mail, $map, $phone, $portfolio, $services, $team, $tweets, );
$spritesheet: (61px, 470px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/icon/sprites/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
