.menu {
  margin-top: 155px;
  padding: 0 18px;
  @include clr;

  &-part {
    float: left;
    margin-right: 37px;

    &:last-child {
      margin-right: 0;
    }

    &_bottom {
      margin-top: 200px;
    }
  }

  &__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    font: 400 1.125em/30px $ffL;
    display: inline-block;
    border-radius: 30px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__img-wrap {
    position: absolute;
    left: 47px;
    top: 11px;

    &_about  {
      @include sprite($about);
    }

    &_portfolio {
      @include sprite($portfolio);
    }

    &_contact {
      @include sprite($contact);
    }
  }

  &__text{
    width: 100%;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
  }
}
