.logo {

  &__link {
    display: block;
    width: 42%;
    margin: 0 auto;
    

    &:hover {
      text-decoration: none;
    }
  }
}

.logo_nav-mods {
	margin-top: 0;
	float: left;
}

.logo__link-nav-mods {
	width: 15%;
	margin: 0;
}